ADMIN_TOKEN=
HONOR_APP_ID=
HONOR_CLIENT_ID=
HONOR_CLIENT_SECRET=
HONOR_TOKEN_URL=https://iam.developer.hihonor.com/auth/token
HONOR_SEND_URL=https://push-api.cloud.hihonor.com/v1/{appId}/messages:send
